.endora-panel:not(.bottom) {
    display: none;
    z-index: -15
}
.endora-panel { 
    border-bottom: 1px solid rgb(30,30,30) !important;
    background: rgba(0,0,0,0) !important;
    color: rgb(200,200,200);
    padding: 15px !important;
    gap: 25px !important;
}
.endora-panel-btn {
    border-radius: 7px !important;
    background: rgb(30,30,30) !important;
    color: rgb(200,200,200) !important;
}
.endora-panel-text {
    color: rgb(200,200,200) !important;
}

.endora-panel-text-span {
    color: rgb(250,250,250) !important;
}
@media (max-width: 770px) {
    .endora-panel-text {
        font-size: 10px !important;
    }
    .endora-panel-img {
        width: 20px;
	    height: 20px;
    }
}