# Aktivace přepisovacího modulu
RewriteEngine On

# nastaveni vychozi stranky adresare
DirectoryIndex index.php

# povoleni zobrazeni obsahu adresare, pokud chybi vychozi soubor
Options +Indexes

# Nastavení vlastních error pages
ErrorDocument 404 /error.php?code=404
ErrorDocument 403 /error.php?code=403
ErrorDocument 500 /error.php?code=500
